/*
* You will need to specify an github API authentication to bypass the API limitations.
* You can specify it by providing an environment variable GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET or pass in a GITHUB_TOKEN (for more permissions).
* If you don't want to, or can't set them in the ENV you can always set them here.
* Copy this file and change it's name to 'github.js'
* 
* Get your GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET here: https://github.com/settings/developers
* Get a GITHUB_TOKEN here: https://github.com/settings/tokens
* 
*/
exports.githubConfig = {
  'GITHUB_CLIENT_SECRET': '',
  'GITHUB_CLIENT_ID': '',
  'GITHUB_TOKEN': ''
}
